repos:
  - repo: local
    hooks:
#      - id: make-fmt
#        name: make fmt
#        entry: make fmt
#        language: system
#        stages: [commit]
#        pass_filenames: false
#        always_run: true

      - id: make-test
        name: make test
        entry: make test
        language: system
        stages: [commit]
        pass_filenames: false
        always_run: true

#      - id: make-fmt-check
#        name: make fmt-check
#        entry: make fmt-check
#        language: system
#        stages: [push]
#        pass_filenames: false
#        always_run: true

      - id: make-test-push
        name: make test (push)
        entry: make test
        language: system
        stages: [push]
        pass_filenames: false
        always_run: true
