fail_fast: true
repos:
  - repo: local
    hooks:
      - id: make-fmt
        name: Format code
        entry: make fmt
        language: system
        stages: [ pre-commit ]
        pass_filenames: false
        always_run: true

      - id: make-clippy-fix
        name: Clippy fix (SAST)
        entry: make clippy-fix
        language: system
        stages: [ pre-commit ]
        pass_filenames: false
        always_run: true

      - id: make-test
        name: Build & Test
        entry: make test
        language: system
        stages: [ pre-commit ]
        pass_filenames: false
        always_run: true

#### PRE-PUSH HOOKS ####

      - id: make-fmt-push
        name: Format code
        entry: make fmt-check
        language: system
        stages: [ pre-push ]
        pass_filenames: false
        always_run: true

      - id: make-clippy-push
        name: Clippy (push)
        entry: make clippy
        language: system
        stages: [ pre-push ]
        pass_filenames: false
        always_run: true

      - id: make-test-push
        name: make test (push)
        entry: make test
        language: system
        stages: [ pre-push ]
        pass_filenames: false
        always_run: true
